In [1]:
import pandas as pd
import numpy as np
df = pd.read_excel(r'C:\Users\joaco\Econometrics\Logit F1\DataBase.xlsx')

## Usando Pandas

In [2]:
S = df.shape
print("Dimensiones de la matriz:", S)
print("N° de filas:", S[0])
print("N° de columnas:", S[1])

Dimensiones de la matriz: (24620, 12)
N° de filas: 24620
N° de columnas: 12

In [3]:
print(df.dtypes)

Circuito                 object
Año                       int64
#_Carrera                 int64
Piloto                   object
Nacionalidad             object
Escudería                object
Podio_Y                   int64
Driver_Points_x1        float64
Grid_x2                   int64
Driver_ position_x3       int64
NF_x4                     int64
Escudedría_points_x5    float64
dtype: object

In [4]:
df.describe()

,Año,#_Carrera,Podio_Y,Driver_Points_x1,Grid_x2,Driver_ position_x3,NF_x4,Escudedría_points_x5
count,24620.000000,24620.000000,24620.000000,24620.000000,24620.000000,24620.000000,24620.000000,23047.000000
mean,1988.724045,8.266206,0.124898,1.719641,11.233591,12.993745,0.433875,3.640951
std,18.529221,4.864746,0.330610,3.891721,7.301433,7.777353,0.495618,6.876373
min,1950.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,1976.000000,4.000000,0.000000,0.000000,5.000000,7.000000,0.000000,0.000000
50%,1989.000000,8.000000,0.000000,0.000000,11.000000,13.000000,0.000000,0.000000
75%,2004.000000,12.000000,0.000000,1.000000,17.000000,19.000000,1.000000,4.000000
max,2019.000000,21.000000,1.000000,50.000000,34.000000,39.000000,1.000000,66.000000

In [5]:
df.head()

,Circuito,Año,#_Carrera,Piloto,Nacionalidad,Escudería,Podio_Y,Driver_Points_x1,Grid_x2,Driver_ position_x3,NF_x4,Escudedría_points_x5
0,British Grand Prix,1950,1,Prince Bira,Thai,Maserati,0,0.0,5,14,1,NaN
1,British Grand Prix,1950,1,Yves Cabantous,French,Talbot-Lago,0,3.0,6,4,0,NaN
2,British Grand Prix,1950,1,Louis Chiron,Monegasque,Maserati,0,0.0,11,18,1,NaN
3,British Grand Prix,1950,1,Johnny Claes,Belgian,Talbot-Lago,0,0.0,21,11,0,NaN
4,British Grand Prix,1950,1,Geoff Crossley,British,Alta,0,0.0,17,16,1,NaN

In [23]:
df_años = df.sort_values(by = ['Año','#_Carrera'], ascending = False)
df_años.head()

,Circuito,Año,#_Carrera,Piloto,Nacionalidad,Escudería,Podio_Y,Driver_Points_x1,Grid_x2,Driver_ position_x3,NF_x4,Escudedría_points_x5
24600,Abu Dhabi Grand Prix,2019,21,Alexander Albon,Thai,Red Bull,0,8.0,5,6,0,26.0
24601,Abu Dhabi Grand Prix,2019,21,Valtteri Bottas,Finnish,Mercedes,0,12.0,20,4,0,38.0
24602,Abu Dhabi Grand Prix,2019,21,Pierre Gasly,French,Toro Rosso,0,0.0,11,18,0,2.0
24603,Abu Dhabi Grand Prix,2019,21,Antonio Giovinazzi,Italian,Alfa Romeo,0,0.0,16,16,0,0.0
24604,Abu Dhabi Grand Prix,2019,21,Romain Grosjean,French,Haas F1 Team,0,0.0,15,15,0,0.0