In [1]:
import pandas as pd
import numpy as np
df = pd.read_excel(r'C:\Users\joaco\Econometrics\Logit F1\DataBase.xlsx')

## Usando Pandas

In [2]:
S = df.shape
print("Dimensiones de la matriz:", S)
print("N° de filas:", S[0])
print("N° de columnas:", S[1])

Dimensiones de la matriz: (4297, 13)
N° de filas: 4297
N° de columnas: 13

In [3]:
print(df.dtypes)

Circuito                 object
Año                       int64
#_Carrera                 int64
#_Race_Driver             int64
Piloto                   object
Nacionalidad             object
Escudería                object
Podio_Y                   int64
Driver_Points_x1          int64
Grid_x2                   int64
Driver_ position_x3       int64
NF_x4                     int64
Escudedría_points_x5    float64
dtype: object

In [4]:
df.describe()

,Año,#_Carrera,#_Race_Driver,Podio_Y,Driver_Points_x1,Grid_x2,Driver_ position_x3,NF_x4,Escudedría_points_x5
count,4297.000000,4297.000000,4297.000000,4297.000000,4297.000000,4297.000000,4297.000000,4297.000000,4295.000000
mean,2014.398418,10.390040,55.369793,0.138236,4.681871,11.300675,11.419362,0.178729,9.368102
std,2.898898,5.726874,46.595198,0.345188,7.087773,6.396278,6.376902,0.383170,12.333446
min,2010.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,2012.000000,5.000000,18.000000,0.000000,0.000000,6.000000,6.000000,0.000000,0.000000
50%,2014.000000,10.000000,40.000000,0.000000,0.000000,11.000000,11.000000,0.000000,4.000000
75%,2017.000000,15.000000,84.000000,0.000000,8.000000,17.000000,17.000000,0.000000,15.000000
max,2019.000000,21.000000,198.000000,1.000000,50.000000,24.000000,24.000000,1.000000,66.000000

In [14]:
df

,Circuito,Año,#_Carrera,#_Race_Driver,Piloto,Nacionalidad,Escudería,Podio_Y,Driver_Points_x1,Grid_x2,Driver_ position_x3,NF_x4,Escudedría_points_x5
0,Bahrain Grand Prix,2010,1,1,Adrian Sutil,German,Force India,0,0,10,12,0,2.0
1,Australian Grand Prix,2010,2,2,Adrian Sutil,German,Force India,0,0,10,18,1,6.0
2,Malaysian Grand Prix,2010,3,3,Adrian Sutil,German,Force India,0,10,4,5,0,10.0
3,Chinese Grand Prix,2010,4,4,Adrian Sutil,German,Force India,0,0,10,11,0,0.0
4,Spanish Grand Prix,2010,5,5,Adrian Sutil,German,Force India,0,6,11,7,0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4292,Russian Grand Prix,2015,15,15,Will Stevens,British,Manor Marussia,0,0,17,14,0,0.0
4293,United States Grand Prix,2015,16,16,Will Stevens,British,Manor Marussia,0,0,19,20,1,0.0
4294,Mexican Grand Prix,2015,17,17,Will Stevens,British,Manor Marussia,0,0,17,16,0,0.0
4295,Brazilian Grand Prix,2015,18,18,Will Stevens,British,Manor Marussia,0,0,18,17,0,0.0
4296,Abu Dhabi Grand Prix,2015,19,19,Will Stevens,British,Manor Marussia,0,0,19,18,0,0.0

In [8]:
df.keys()

Index(['Circuito', 'Año', '#_Carrera', '#_Race_Driver', 'Piloto',
       'Nacionalidad', 'Escudería', 'Podio_Y', 'Driver_Points_x1', 'Grid_x2',
       'Driver_ position_x3', 'NF_x4', 'Escudedría_points_x5'],
      dtype='object')

In [17]:
print(df["Piloto"].unique())

['Adrian Sutil' 'Alexander Albon' 'Alexander Rossi' 'André Lotterer'
 'Antonio Giovinazzi' 'Brendon Hartley' 'Bruno Senna' 'Carlos Sainz'
 'Charles Leclerc' 'Charles Pic' 'Christian Klien' 'Daniel Ricciardo'
 'Daniil Kvyat' 'Esteban Gutiérrez' 'Esteban Ocon' 'Felipe Massa'
 'Felipe Nasr' 'Fernando Alonso' 'George Russell' 'Giedo van der Garde'
 'Heikki Kovalainen' "Jérôme d'Ambrosio" 'Jaime Alguersuari'
 'Jarno Trulli' 'Jean-Éric Vergne' 'Jenson Button' 'Jolyon Palmer'
 'Jules Bianchi' 'Kamui Kobayashi' 'Karun Chandhok' 'Kevin Magnussen'
 'Kimi Räikkönen' 'Lance Stroll' 'Lando Norris' 'Lewis Hamilton'
 'Lucas di Grassi' 'Marcus Ericsson' 'Mark Webber' 'Max Chilton'
 'Max Verstappen' 'Michael Schumacher' 'Narain Karthikeyan'
 'Nick Heidfeld' 'Nico Hülkenberg' 'Nico Rosberg' 'Pascal Wehrlein'
 'Pastor Maldonado' 'Paul di Resta' 'Pedro de la Rosa' 'Pierre Gasly'
 'Rio Haryanto' 'Robert Kubica' 'Roberto Merhi' 'Romain Grosjean'
 'Rubens Barrichello' 'Sébastien Buemi' 'Sakon Yamamoto'
 'Sebastian Vettel' 'Sergey Sirotkin' 'Sergio Pérez' 'Stoffel Vandoorne'
 'Timo Glock' 'Valtteri Bottas' 'Vitaly Petrov' 'Vitantonio Liuzzi'
 'Will Stevens']